---
import type { CollectionEntry } from "astro:content";
import ArrowRight from "../assets/svg/ArrowRight.svg";
import { Image } from "astro:assets";

interface Props {
    project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
const { data, slug } = project;


---

<li data-project-card class:list={[data.span, "min-w-0"]}>
    <article class="group border relative flex flex-col border-white/10 p-6 h-full">

        <div class="flex justify-between items-center">

        <div class:list={[
            'flex items-center gap-x-2 text-xs text-white/90 px-2 py-1', 
            {
                "bg-emerald-500/10": data.isActive,
                "bg-red-500/10 ": !data.isActive
            }
        ]}>
            <div class="relative flex size-2 ">
                <span class:list={[
                    'absolute inline-flex size-full animate-ping rounded-full bg-emerald-400 opacity-75',
                    {
                        "bg-emerald-400 opacity-75": data.isActive,
                        "bg-red-400 opacity-75": !data.isActive
                    }
                ]}></span>

                <span class:list={[
                    "relative inline-flex size-2 rounded-full bg-emerald-500",
                    {
                        "bg-emerald-500/60": data.isActive,
                        "bg-red-500/60": !data.isActive
                    }
                ]}></span>
            </div>
            {data.isActive ? "Activo" : "Inactivo"}
        </div>
            <a href={`/projects/${slug}`} class="group flex text-xs items-center gap-x-2 py-1.5 px-3 border border-white/15  hover:border-white/30 hover:shadow-lg hover:shadow-white/5 transition-all duration-200">
                Saber mas
                <ArrowRight class="size-4 group-hover:translate-x-1 transition-all duration-200 group-[2]:group-hover:translate-x-1"/>
            </a>

        </div>

        <div class="relative overflow-hidden scale-95 group-hover:scale-100 transition-all duration-700 mt-4 flex-1 flex justify-center items-center min-h-[70px]">
            <Image
            transition:name={`${slug}-image`}
            src={`/src/assets/images/projects/${data.img}`} 
            alt={data.title} 
            width={600}
            height={400}
            class="w-[600px] h-full object-contain" 
            />
            <div class="absolute inset-0 bg-linear-to-b from-transparent from-10% to-black "></div>
        </div>

        <h3 class="text-2xl mt-4 uppercase font-bold md:text-6xl" transition:name={`${slug}-title`}>
            {data.title}
        </h3>

        <p class="text-sm mt-4 text-paragraph leading-relaxed ">
            {data.description}
        </p>

        <ul class="flex flex-wrap gap-2 mt-auto pt-4">
            {data.stack.map((stack) => (
                <li class="text-xs px-2 py-1 bg-white/10 text-white/50 hover:text-white transition-colors duration-200">
                    {stack}
                </li>
            ))}
        </ul>
    </article>
</li>