---
import type { CollectionEntry } from "astro:content";
import ArrowRight from "../assets/svg/ArrowRight.svg";
import { Image } from "astro:assets";

interface Props {
    project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
const { data, slug } = project;


---

<li class:list={[data.span, "min-w-0"]}>
    <article class="group border relative flex flex-col border-white/10 p-6 h-full">

        <div class="flex justify-between items-center">

            <span class="text-xs opacity-10 ">
                {data.subtitle}
            </span>

            <a href={`/projects/${slug}`} class="group flex text-xs items-center gap-x-2 py-1 px-3 border border-white/10 rounded-xs hover:border-white/20 transition-all duration-200">
                Saber mas
                <ArrowRight class="size-4 group-hover:translate-x-1 transition-all duration-200 group-[2]:group-hover:translate-x-1"/>
            </a>

        </div>

        <div class="relative overflow-hidden group-hover:scale-103 transition-all duration-700 mt-4 flex-1 flex justify-center items-center min-h-[70px]">
            <Image
            transition:name={`${slug}-image`}
            src={`/src/assets/images/projects/${data.img}`} 
            alt={data.title} 
            width={600}
            height={600}
            class="w-[600px] h-full object-cover" 
            />
            <div class="absolute inset-0 bg-linear-to-b from-transparent from-10% to-black "></div>
        </div>

        <h3 class="text-2xl mt-4 uppercase font-bold md:text-6xl" transition:name={`${slug}-title`}>
            {data.title}
        </h3>

        <p class="text-sm mt-4 text-paragraph leading-relaxed ">
            {data.description}
        </p>

        <ul class="flex flex-wrap gap-2 mt-auto pt-4">
            {data.stack.map((stack) => (
                <li class="text-xs px-2 py-1 bg-white/10 rounded-xs text-white/50 hover:text-white transition-colors duration-200">
                    {stack}
                </li>
            ))}
        </ul>
    </article>
</li>